
    
@media (max-width:1000px) {
    #img-test{
        width: 30px;
        height: 30px;
        left: 47%;
    }
    #sad ,#good{
        width: 55px;
        height: 50px;
    }
    #div-one,#div-two{
        width: 80px;
        height: 10vh;
        
    }
    p{
        font-size: 0.4em;
    }
    .btn,.btn1{
        width:10%;
        height:5vh;
        font-size: 0.6em;

    }
    .star1 , .star21{
        padding: 3px;
    }

}