
    

@media (max-width:1100px){
         #img-test{
        width: 50px;
        height:50px;
        left: 47%;
    }
    #sad ,#good{
        width: 65px;
        height: 65px;
    }
    #div-one,#div-two{
        width: 80px;
        height: 10vh;
        
    }
    p{
        font-size: 0.4em;
    }
    .btn,.btn1{
        width:13%;
        height:5vh;
        font-size: 1em;
        font-weight: 900;
        top: 75vh;

    }
    #clicking{
        width: 20%;
    }
    .star1 , .star21{
        padding: 3px;
    }

}

@media (max-width:700px) {
    #img-test{
        width: 30px;
        height: 30px;
        left: 47%;
    }
    #sad ,#good{
        width: 55px;
        height: 50px;
    }
    #div-one,#div-two{
        width: 80px;
        height: 10vh;
        
    }
    p{
        font-size: 0.4em;
    }
    .btn,.btn1{
        width: 13%;
        height:6vh;
        font-size: 0.7em;
        font-weight: 900;
        top: 75vh;

    }
    #clicking{
        width: 20%;
    }
    .star1 , .star21{
        padding: 3px;
    }
    #div-big{
        width: 90%;
    }

} 


.welcome{
   position: absolute;
   top: 45vh;

    font-size: 2em;
    color: white;
    width: 100%;
    font-weight: 900;
    animation: welcome alternate 10s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes welcome{
    0%{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.3em;
        opacity: 1;
        
        
    }

    25%{
        font-size: 2em;
    }
    50%{
        width:40px;
        height: 30px;
        color: rgb(236, 155, 5);
                 width: 100%;
        height: 20vh;
        opacity: 1;
        font-size: 3em;
    }
    75%{
font-size: 2em;
    }
    100%{
       
        
    }
}